<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplicationtest">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 开机启动服务 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/tubiao180"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:persistent="true"
        android:priority="1000"
        android:roundIcon="@drawable/tubiao180"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationTest"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <service
            android:name=".MyAccessibility"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location"
            android:label="趣魔盒守护服务"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>
        <activity
            android:name=".SetApplication"
            android:exported="false" />
        <activity
            android:name=".AskMe"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".YuanShenUserInfo"
            android:exported="false" />
        <activity
            android:name=".TipActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivityForCKFX"
            android:exported="false" />

        <service
            android:name=".server.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainActivityYuanShenBQ"
            android:exported="false" />

        <receiver
            android:name=".NewAppWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <activity
            android:name=".Yuanshenssbf"
            android:exported="false" />
        <activity
            android:name=".Autoqdbyuidandcookie"
            android:exported="false" />
        <activity
            android:name=".yuanshenlist"
            android:exported="false" />
        <activity
            android:name=".MainActivityplusysfzindex"
            android:exported="false" />
        <activity
            android:name=".MainActivityforcharroomregister"
            android:exported="false" />
        <activity
            android:name=".FirstView"
            android:exported="true"
            android:excludeFromRecents="${isYinCang}">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityforwlts"
            android:exported="false" />
        <activity
            android:name=".MainActivityforcharroomInroom"
            android:exported="false" />
        <activity
            android:name=".MainActivityforcharroom"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".MainActivityfortizhong"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="uiMode"
            android:exported="false" />
    </application>

</manifest>